<div class="relative flex flex-col justify-center h-screen overflow-hidden">
    <div class="w-full p-6 m-auto bg-white rounded-md shadow-md lg:w-3/4">
        <h1 class="text-3xl font-semibold text-center text-black-700">Create new category</h1>

        <form class="space-y-4" [formGroup]="categoryForm">
            <div>
                <label class="label">
                    <span class="text-base label-text">Name</span>
                </label>
                <input
                        type="text"
                        placeholder="Type name here"
                        class="w-full input input-bordered input-primary"
                        formControlName="name"
                />
                <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
                    <span class="text-red-500 text-sm">Name is required.</span>
                </div>
            </div>

            <div>
                <label class="label">
                    <span class="text-base label-text">Description</span>
                </label>
                <input
                        type="text"
                        placeholder="Type description here"
                        class="w-full input input-bordered input-primary"
                        formControlName="description"
                />
                <div *ngIf="categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched">
                    <span class="text-red-500 text-sm">Description is required.</span>
                </div>
            </div>

            <div>
                <button
                        class="btn btn-block btn-primary"
                        [disabled]="categoryForm.invalid"
                        (click)="postCategory()"
                >
                    Post
                </button>
            </div>
        </form>
    </div>
</div>