<div class="overflow-x-auto">
    <table class="table w-full">
        <thead>
        <tr>
            <th class="font-bold text-blue-600">Name</th>
            <th class="font-bold text-blue-600">Amount</th>
            <th class="font-bold text-blue-600">Description</th>
            <th class="font-bold text-blue-600">Payment</th>
            <th class="font-bold text-blue-600">Address</th>
            <th class="font-bold text-blue-600">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let myOrder of myOrders">
            <td class="font-semibold">{{ myOrder.username }}</td>
            <td class="font-semibold">{{ myOrder.amount }}</td>
            <td>{{ myOrder.orderDescription }}</td>
            <td>{{ myOrder.paymentType }}</td>
            <td>{{ myOrder.address }}</td>
            <td>{{ myOrder.date | date: 'dd/MM/yyyy' }}</td>
        </tr>
        </tbody>
    </table>
</div>