/apps/onlineshop-backend/.idea
/apps/onlineshop-backend/target
apps/onlineshop-frontend/.DS_Store
apps/onlineshop-backend/.env
apps/.DS_Store
/.idea
.DS_Store
/node_modules
/.angular
/.nx
/apps/onlineshop-frontend/.idea
/apps/onlineshop-frontend/node_modules
apps/onlineshop-frontend/.env
dist
