<div class="relative flex flex-col min-h-screen overflow-hidden pt-10 pb-10">
    <div class="bg-white rounded-md lg:w-3/4 mx-auto">
        <h1 class="text-3xl font-semibold text-center text-black-700">Create new product</h1>
        <form class="space-y-4" [formGroup]="postProductForm">
            <div>
                <label class="label">
                    <span class="text-base label-text">Name</span>
                </label>
                <input
                        type="text"
                        placeholder="Type name here"
                        class="w-full input input-bordered input-primary"
                        formControlName="name"
                />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Price</span>
                </label>
                <input
                        type="text"
                        placeholder="Type price here"
                        class="w-full input input-bordered input-primary"
                        formControlName="price"
                        inputmode="numeric"
                        (keypress)="allowNumbersOnly($event)"
                />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Description</span>
                </label>
                <input
                        type="text"
                        placeholder="Type description here"
                        class="w-full input input-bordered input-primary"
                        formControlName="description"
                />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Select a file</span>
                </label>
                <input
                        type="file"
                        class="w-full file-input file-input-ghost input-bordered input-primary"
                        accept="image/png, image/gif, image/jpeg"
                        (change)="onFileSelected($event)"
                />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Category</span>
                </label>

                <select formControlName="categoryId" class="select w-full select-primary">
                    <option disabled selected>Category</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                </select>
            </div>
            <div>
                <button class="btn btn-block btn-primary"
                        (click)="postProduct()"
                        [disabled]="!postProductForm.valid || !imageLoaded">
                    Post
                </button>
            </div>
        </form>
    </div>
</div>