<div class="navbar bg-base-100 top-0 left-0 w-full z-50 shadow">
    <div class="navbar-start">
        <div class="dropdown">
            <a class="btn btn-ghost text-xl">
                <div class="border-1 bg-secondary logo p-2 rounded-xl" routerLink="/">OnlineShop</div>
            </a>
        </div>
    </div>
    <div class="navbar-center flex">
        <div class="menu menu-sm sm:menu-lg menu-horizontal px-1">
            <li>
                <details
                        [open]="openMenu === 'product'"
                        (click)="toggleMenu('product', $event)"
                >
                    <summary>Products</summary>
                    <ul class="z-30">
                        <li><a href="/products">All</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details
                        *ngIf="isAdminLoggedIn"
                        [open]="openMenu === 'admin'"
                        (click)="toggleMenu('admin', $event)"
                >
                    <summary>Admin</summary>
                    <ul class="z-30">
                        <li><a routerLink="/admin/dashboard">Dashboard</a></li>
                        <li><a routerLink="/admin/category">Category</a></li>
                        <li><a routerLink="/admin/product">Product</a></li>
                    </ul>
                </details>
            </li>
        </div>
    </div>
    <div class="navbar-end pe-4 flex align-items-center">
        <div class="dropdown dropdown-end pe-4">
            <div tabindex="0" role="button">
                <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
            </div>
            <ul
                    class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow"
            >
                <li>
                    <button
                            *ngIf="!isUserLoggedIn && !isAdminLoggedIn"
                            class="link"
                            routerLink="/login"
                    >
                        Login
                    </button>
                    <button
                            *ngIf="!isUserLoggedIn && !isAdminLoggedIn"
                            class="link"
                            routerLink="/register"
                    >
                        Register
                    </button>
                    <button
                            *ngIf="isUserLoggedIn || isAdminLoggedIn"
                            class="link"
                            (click)="logout()"
                    >
                        Log out
                    </button>
                </li>
            </ul>
        </div>
        <div
                *ngIf="!isAdminLoggedIn"
                class="dropdown dropdown-end me-2"
                routerLink="/user/cart"
        >
            <div tabindex="0" role="button">
                <fa-icon [icon]="['fas', 'cart-shopping']" class="menu-icon"></fa-icon>
            </div>
        </div>
    </div>
</div>