<div class="relative flex flex-col justify-start h-screen overflow-hidden">
    <div class="w-full p-6 m-auto bg-white rounded-md shadow-md lg:max-w-xl">
        <h1 class="text-3xl font-semibold text-center text-black-700">Order details</h1>
        <form class="space-y-4" [formGroup]="placeOrderForm" (ngSubmit)="placeOrder()">
            <div>
                <label class="label">
                    <span class="text-base label-text">Address</span>
                </label>
                <input
                        type="text"
                        placeholder="Address"
                        class="w-full input input-bordered input-primary"
                        formControlName="address"
                />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Description</span>
                </label>
                <input
                        type="text"
                        placeholder="Description"
                        class="w-full input input-bordered input-primary"
                        formControlName="orderDescription"
                />
            </div>
            <div>
                <label class="label">
                    <span class="text-base label-text">Payment</span>
                </label>
                <select formControlName="payment" class="select w-full select-primary">
                    <option [value]="null" [selected]="true" disabled>Select a payment method</option>
                    <option *ngFor="let payment of Payment" [value]="payment">{{ payment }}</option>
                </select>
            </div>
            <div>
                <button
                        class="btn btn-block btn-primary"
                        [disabled]="!placeOrderForm.valid"
                >
                    Place order
                </button>
            </div>
        </form>
    </div>
</div>