<a class="flex justify-start cursor-pointer" [routerLink]="['/product', product().publicId]">
    <div class="flex flex-col justify-center rounded-xl w-full h-full shadow-xl">
        <figure class="flex justify-center items-center h-[15rem]">
            <img
                    [src]="'data:' + product().pictures[0].mimeType + ';base64,' + product().pictures[0].file"
                    alt="{{product().name}}"
                    class="max-w-full max-h-full w-auto h-auto object-contain"
            />
        </figure>
        <div class="p-5 justify-end">
            <div class="text-sm">{{product().brand}}</div>
            <h2 class="card-title w-full truncate">
                <div class="truncate">{{product().name}}</div>
            </h2>
            <div>
                <span class="me-2">{{product().price | currency}}</span>
            </div>
        </div>
    </div>
</a>
