<div class="relative flex flex-col min-h-screen overflow-hidden pt-10 pb-10">

    <div class="bg-white rounded-md lg:w-3/4 mx-auto mt-10">
        <!-- Search Form -->
        <form class="mt-5 flex items-center w-full space-x-4 pb-6" [formGroup]="searchForm">
            <input
                    type="text"
                    placeholder="Enter name to search"
                    class="flex-1 input input-bordered input-primary"
                    formControlName="title"
            />
            <button class="btn btn-primary" (click)="searchProduct()">
                Search
            </button>
        </form>
    </div>

    <!-- Product List -->
    <div class="w-full px-4 mt-10">
        <div *ngFor="let product of products" class="p-6 bg-white rounded-lg shadow-md mb-6">
            <div class="flex items-start">
                <img
                        class="w-48 h-40 object-cover rounded-lg"
                        [src]="product.processedImage"
                        alt="Product Image"
                />
                <div class="ml-4 flex-1">
                    <h2 class="text-xl font-bold text-blue-600 cursor-pointer">
                        {{ product.name }}
                    </h2>
                    <p class="text-gray-600 mt-2">
                        {{ product.description }}
                    </p>
                    <hr class="my-2 border-gray-300">
                    <div class="text-sm text-gray-700">
                        <span class="font-semibold">Price:</span> ${{ product.price }}
                        <span class="font-semibold ml-4">Category:</span> {{ product.categoryName }}
                    </div>
                    <div class="flex justify-end space-x-4 mt-4">
                        <button class="btn btn-primary" (click)="addProductToCart(product.id)">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>